*{
    margin: 0;
    padding: 0;
    background-color: #D1D8C5;
}


.resume{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #EEEEEE;
    height: 70px;
    /* color: white; */
}

.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
}

.leftsection{
    /* background-color:#6EACDA; */
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    width: 25%;
    height: 100%;
}

.rightsection{
    /* background-color: white; */
    width: 70%;
}
/* #work{
    display: flex;
    justify-content: center;
    margin-top: 1px;
    margin-bottom: 5px;
} */
/* 
#work1{
    display: flex;
    justify-content: space-around;
    margin:3px 0 ;
} */
/* 
.one{
    height: 10px;
    width: 100px;
    background-color: white;
} */